@media screen and (max-width: 1200px){
    header {
        padding: 0 20px 50px;
        height: auto;
}}
header {
    background: linear-gradient(135deg, rgba(206,198,226,1) 0%,rgba(255,255,255,1) 100%);
}
body {
    padding:0;
    margin:0;

}
@media screen and (max-width: 1200px){
    .back {
        margin-top: 20px;
}}
.back {
    position: absolute;
    display: inline-block;
    padding: 6px 12px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
    left: 0;
    z-index: 100;
}
@media screen and (max-width: 1200px){
    .header_flex {
        height: unset;
        padding: 0;
        width: 100%;
}}
.header-flex {
    display: flex;
    color:black;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;

}
@media screen and (max-width: 1200px){
    .header_flex_carte {
        margin-top: unset;
        margin: auto;
        text-align: center;
}}
.header-flex-carte {
    padding-top: 50px;
    margin-right: 40px;
}
.header_flex_text {
    text-align: center;
    width: 440px;
    color: black;
}
.header_flex_text h2 {
    font-size: 24px;
    color: black;
    line-height: 38px;
    font-weight: 300;
}
.header_flex_text p {
    font-size: 20px;
    line-height: 24px;
    margin: 15px auto;
    font-weight: 300;
}
@font-face {
    font-family: Frank Ruhl Libre;
    src: url(FrankRuhlLibre-Black.ttf);
}
.font_1 {
    font-family: 'Frank Ruhl Libre';
}
@media screen and (max-width: 1200px){
    .header_flex_text_cta {
     text-align: center;
     width: 100%;
}}
.header_flex_text_cta {
    width: 400px;
    margin: 40px auto 0;
    text-align: center;
    color: black;
}

.header_flex_text_cta_pret {
    font-size: 26px;
    font-weight: bold;
    margin-top: 32px;
    color: black;
}
.header_flex_text_cta_buton_a {
    background-color: #b4a8d1;
    color: black;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 500px;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}
.video {
    text-align: center;
    padding-top: 30px;
}
@media screen and (max-width: 900px){
.video iframe {
    width: 90%;
    height: 360px;
}}
.video iframe {
    margin: 0 auto;
    width: 800px;
    height: 800px;
}
.review-evidentiat {
    padding: 50px 20px;
    background-color: white;
}
.review-container {
    width: 700px;
    margin: auto;
    text-align: left;
}
.review-container p {
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-align: left;
}
.citat {
    display: flex;
    align-items: center;
    justify-content: end;
}
.citat p {
    font-size: 20px;
    padding-right: 30px;
}
@media screen and (max-width: 1200px){
.ajuta {
    padding: 20px;
}}
.ajuta {
    padding: 40px 20px;
    background-color: #e8e3f3;
    text-align: center;
}
.ajuta-titlu {
    color: black;
    font-size: 36px;
    font-weight: 300;
    border-bottom: 2px solid #b4a8d1;
    padding-bottom: 20px;
    width: 630px;
    margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
.ajuta_text {
    width: 550px;
}}
@media screen and (max-width: 1200px){
.ajuta_text {
    margin: 24px auto;
}}
.ajuta_text {
    width: 700px;
    margin: 40px auto;
    color: black;
    font-size: 20px;
    font-weight: 300;
}
@media screen and (max-width: 1200px){
.ajuta-lista {
    margin: unset;
    padding-top: 10px;
}}
.ajuta-lista {
    margin: 10px;
    padding-top: 20px;
    display: flex;
    text-align: left;
}
.ajuta-lista p {
    margin: unset;
    padding: 0 0 10px 20px;
}
@media screen and (max-width: 1200px){
.invata {
    padding: 20px;
}}
.invata {
    padding: 40px 20px;
    background-color: #e8e3f3;
    text-align: center;
}
@media screen and (max-width: 1200px){
.invata-titlu {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}}
.invata-titlu {
    color: black;
    font-size: 40px;
    font-weight: 300;
    border-bottom: 2px solid #b4a8d1;
    width: 520px;
    margin: auto;
    padding-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
.invata_text {
    width: 550px;
}}
.invata_text {
    width: 700px;
    margin: 40px auto;
    color: black;
    font-size: 20px;
    font-weight: 300;
}
@media screen and (max-width: 1200px){
.invata-lista {
    margin: unset;
    padding-top: 10px;
}}
.invata-lista {
    margin: 10px;
    padding-top: 20px;
    display: flex;
    text-align: left;
}
.invata-lista p {
    margin: unset;
    padding: 0 0 10px 20px;
}
.descriere {
    padding: 50px 20px;
    background-color: white;
}
@media screen and (max-width: 900px){
    .volum-container {
        flex-direction: column;
        width: 100%;
}}
.volum-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.descriere_text {
    margin: auto;
    font-size: 18px;
    color: black;
    text-align: left;
    padding-left: 30px;
    line-height: 24px;
}
.descriere_text h2 {
    font-size: 40px;
    font-weight: 300;
    color: black;
    text-align: left;
    border-bottom: 2px solid #b4a8d1;
    width: 320px;
    margin: 30px auto;
    padding-bottom: 20px;
}
@media screen and (max-width: 900px){
.despre_autoare {
    padding: 24px;
}}
.despre_autoare {
    background-color: white;
    padding: 30px;
}
@media screen and (max-width: 900px){
.despre_autoare h2 {
    font-size: 30px;
    width: 230px;
}}
.despre_autoare h2 {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 300;
    border-bottom: 2px solid #b4a8d1;
    width: 330px;
    margin: 30px auto;
    padding-bottom: 20px;
}
@media screen and (max-width: 900px){
.autoare-wrap {
    display: block;
    width: 100%;
    margin-top: 0;
}}
.autoare-wrap {
    display: flex;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
@media screen and (max-width: 900px){
.autoare-container {
    width: 100%;
}}
.autoare-container {
    width: 400px;
    margin: 0 auto;
}
@media screen and (max-width: 900px){
.autoare-container img {
    width: 60%;
    height: unset;
    margin: auto;
}}
.autoare-container img {
    margin: 30px auto;
    width: 80%;
    height: unset;
}
@media screen and (max-width: 900px){
.despre_autoare_text {
    width: 100%;
    padding-left: unset;
    font-size: 16px;
}}
.despre_autoare_text {
    text-align: left;
    margin: auto;
    color: black;
    font-size: 18px;
    line-height: 24px;
    width:100%;
}
.review-evidentiat2 {
    padding: 50px 20px;
    background-color: #cec6e2;
}
@media screen and (max-width:768px) {
    .header_flex_text h2{
        margin-right: 107px;
        width: 333px;
    }
    .back {
        margin-top:11px;
    }
    .header_flex_text p {
        width:300px;
        margin-right:121px;
    }
    .header_flex_text_cta_pret {
        margin-right:130px;
    }
    .header_flex_text_cta_buton{
        margin-right:130px;
    }
    .carteDescriere{
        margin-right:373px;
    }
    .descriere_text h2{
        margin-right:853px;
    }
    .descriere_text p{
        width:700px;
        margin-right:700px;
    }
}
@media screen  and (max-width:600px){
    .header_flex_text h2 {
        
        width: 212px;
    }
    .header_flex_text p {
        width: 167px;
        margin-right: 218px;
    }
    .carteHeader {
        width: 465px;
        height: 600px;
        margin-left: 118px;
    }
    .header_flex_text_cta_pret {
        margin-right:188px;
    }
    .header_flex_text_cta_buton{
        margin-right:188px;
    }
    hr {
        margin-right:200px;
    }
    .review-container p{
        width:528px;
    }
    .imgCitat {
       display:none;
    }
    .citat div{
        margin-right:149px;
    }
    .ajuta-titlu {
        width:311px;
    }
    .ajuta-lista {
        width:447px;
    }
    .invata_text {
        width:447px;
    }
    .carteDescriere {
        margin-right: 593px;
    }
    .descriere_text h2 {
        margin-right: 811px;
    }
    .descriere_text p {
        width: 533px;
        margin-right: 700px;
    }
    .LauraCosoi {
        margin-right:133px;
    }
    
    
}
